html {
    --primary: #5200ce;
    --on-primary: #fff;
    --primary-container: #160d22;
    --primary-container-variant: #261244;
    --on-primary-container: #fff;
    --primary-canvas: #100a17;
    --primary-text: #fff;

    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-style: normal;
}